/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 22, 2017, 8:21:08 PM
    Author     : farhad
*/

div#message {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    top: 20%;
    right: 0;
    width: 50%;
    z-index: 99;
    display: none;
}